
/* mt-20 w-[80%] h-[70vh] bg-no-repeat bg-cover m-auto  */
.header{
    width:94vw;
    height:70vh;
    position: relative;
    margin:auto;
    opacity: 0.98;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    margin-top: 8rem;
    margin-bottom: 2rem;
    
}

.header::before{
    background-color: red;
    position: absolute;
    top:0;
    bottom:0;
    left: 0;
    right:0;
    z-index:-1;
    content:"";
    opacity: 0.1;
}